name: Benchmark

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - "**/*.md"
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Branch
        uses: taiki-e/checkout-action@afad4df3ab3122b166e8226ac83be4d981fb64e8 # v1.3.2

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Setup benchmark data
        run: cd benches && pnpm install --ignore-workspace

      - uses: Boshen/setup-rust@main
        with:
          cache-key: benchmark
          save-cache: ${{ github.ref_name == 'main' }}
          tools: cargo-codspeed

      - uses: ./.github/actions/pnpm
      - name: Build Benchmark
        env:
          RUSTFLAGS: "-C debuginfo=1 -C strip=none -g"
        run: cargo codspeed build

      - name: Run CPU benchmark
        uses: CodSpeedHQ/action@4deb3275dd364fb96fb074c953133d29ec96f80f # https://github.com/CodSpeedHQ/action/releases/tag/v4.10.6
        #        timeout-minutes: 30
        with:
          mode: simulation
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}

      - name: Run memory benchmark
        uses: CodSpeedHQ/action@4deb3275dd364fb96fb074c953133d29ec96f80f # https://github.com/CodSpeedHQ/action/releases/tag/v4.10.6
        timeout-minutes: 30
        with:
          mode: memory
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}
